@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

.gallery {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.gallery__image {
    width: 100%;
    display: block;
}

.gallery__item {
    box-sizing: border-box;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
}
.gallery__image-caption {
    margin-top: 1rem;
    font-size: 0.95em;
    color: #333;
    font-style: italic;
}

/*  ---------------------------33.75em */
@media only screen and (min-width:500px) {

    .gallery__item {
        flex-basis: calc(50% - 2rem);
    }
}

@media only screen and (min-width:48em) {
    .gallery__item {
        flex-basis: calc((100% / 3) - 2rem);
    }
}

@media only screen and (min-width:60em) {
    .gallery__item {
        flex-basis: calc((100% / 4) - 2rem);
    }
}
/* --------------------------- */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}  

img {
    display: flex;
    width: 100%;
    float: left;
}

main {
    max-width: 100%;/* 900px; */
    margin: auto;
    /* box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1) */
}

#landing {
    background: #fff;
    margin-left: 1rem;
    margin-right: 1rem;

    /* padding: 1rem; */
    /* box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .1); */
}

#landing-text {
    display: flex;
    flex: 0 1 30vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    /* background: url(https://source.unsplash.com/vKFPC18ITyg); */
    /* background: url(/img/landing.jpg); */
    background: url("../img/art-design.jpg");
    /* background-position: center; */
    background-position: left;

    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 70vw;
    margin: 0;
    /* display: flex; */

}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 400ms ease;
} 

.btn:hover {
    background: #f4f4f4;
}

#header {
    padding: 1.rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;

}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem;
    margin: auto;
    color: #333;
}
footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #888;
}

.contact {
    margin-bottom: 1rem;
    display: inline-block;
    color: #333;
}

/* Screen sizes 500px and up*/
@media(min-width: 500px) {
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }
    #images {
        display: flex;
        height: 100%;
    }
 
}

/* Screen sizes 700px and up */

@media(min-width: 700px) {
    .btn {
        padding: 1rem 3rem;
    }

}